body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 2em;
    text-align: center;
}

.reglas-container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #3498db;
}

ol {
    text-align: left;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #2980b9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
